<{* $Id: webphoto_inc_photo_in_table.html,v 1.4 2008/08/09 11:56:36 ohwada Exp $ *}>

<{* IMAGE PART *}>
<div class="webphoto_table_image">

<{* NORMAL IMAGES with popbox  *}>
<{if $photo.is_normal_image && $use_popbox_js }>
  <{if $photo.thumb_width && $photo.thumb_height }>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" class="PopBoxImageSmall" onclick="Pop(this,100,'PopBoxImageLarge');" pbSrcNL="<{$photo.imgsrc_photo}>" />
  <{else}>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$cfg_thumb_width}>" class="PopBoxImageSmall" onclick="Pop(this,100,'PopBoxImageLarge');" pbSrcNL="<{$photo.imgsrc_photo}>" />
  <{/if}>

<{* NORMAL IMAGES & FLASH VODEO *}>
<{elseif $photo.is_normal_image || $photo.is_flash_video }>
  <{if $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/photo/<{$photo.photo_id}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=photo&amp;p=<{$photo.photo_id}>">
  <{/if}>

  <{if $photo.thumb_width && $photo.thumb_height }>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" />
  <{else}>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$cfg_thumb_width}>" />
  <{/if}>
  </a>

<{* FILES OTHER THAN IMAGES *}>
<{else}>
  <{if $photo.ahref_file }>
    <a href="<{$photo.ahref_file}>" target="_blank">
  <{elseif $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/photo/<{$photo.photo_id}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=photo&amp;p=<{$photo.photo_id}>">
  <{/if}>

  <{if $photo.thumb_width && $photo.thumb_height }>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" />
  <{else}>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" />
  <{/if}>
  </a>

<{/if}>
</div>

<{* EDIT ICON *}>
<{if $photo.can_edit}>
  <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=edit&amp;photo_id=<{$photo.photo_id}>">
  <img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/icons/edit.png" border="0" alt="<{$lang_title_edit}>" title="<{$lang_title_edit}>" /></a>
<{/if}>

<{* PHOTO"S SUBJECT *}>
<a name="<{$photo.photo_id}>"></a>

<{if $use_pathinfo }>
  <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/photo/<{$photo.photo_id}>/">
<{else}>
  <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=photo&amp;p=<{$photo.photo_id}>">
<{/if}>

<span class="webphoto_table_title"><{$photo.title_s}></span>
</a><br />

<div class="webphoto_table_info">

<{* SUBMITTER *}>
<{* user *}>
<{if $photo.uid > 0}>
  <{if $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/user/<{$photo.uid}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=user&amp;p=<{$photo.uid}>">
  <{/if}>

  <{$photo.uname_s}></a>

<{* guest *}>
<{else}>
  <{$photo.uname_s}>

<{/if}>
<br />

<{* DATE *}>
<{if $photo.datetime_disp != '' }>
  <{if $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/date/<{$photo.datetime_disp}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=date&amp;p=<{$photo.datetime_disp}>">
  <{/if}>

  <{$photo.datetime_disp}>
  </a> <br />
<{/if}>

<{* PLACE *}>
<{if $photo.place_s != '' }>
  <{if $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/place/<{$photo.place_urlencode}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=place&amp;p=<{$photo.place_urlencode}>">
  <{/if}>

  <{$photo.place_s}>
  </a> <br />
<{/if}>

<{* VIDEO *}>
<{if $photo.is_video }>
  <img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/icons/video.png" width="16" height="16" alt="<{$lang_icon_video}>" title="<{$lang_icon_video}>" /> 
<{/if}>

<{* DURATION *}>
<{if $photo.cont_duration > 0 }>
  <{$photo.cont_duration}> <{$lang_second}> <br />
<{/if}>

</div>
