<{* $Id: webphoto_main_help.html,v 1.4 2008/08/09 11:56:36 ohwada Exp $ *}>

<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php">
<{$xoops_modulename}></a> &gt;&gt; 
<b><{$lang_title_help}></b>
<br /><br />

<{* === menue === *}>
<{include file="db:`$mydirname`_inc_menu.html" }>

<h3><{$lang_title_help}></h3>
<{$lang_help_dsc}>
<br />

<h4 style="border: 1px dotted #8b0000; padding: 3px;">
<{$lang_help_piclens_title}></h4>

<{$lang_help_piclens_dsc}>
<br />

<img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/help/piclens_on.png" border="0" /> 
<img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/help/piclens_off.png" border="0" />
<br /><br />

<h4 style="border: 1px dotted #8b0000; padding: 3px;">
<{$lang_help_mediarssslideshow_title}></h4>

<{$lang_help_mediarssslideshow_dsc}>

<{if $use_pathinfo }>
  <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/rss/random/" target="_blank">
  <{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/rss/random/
<{else}>
  <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=rss&amp;mode=random" target="_blank">
  <{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=rss&amp;mode=random
<{/if}>

</a><br />

<{if $show_help_mail }>
  <h4 style="border: 1px dotted #8b0000; padding: 3px;">
  <{$lang_help_mail_title}></h4>
  <{$lang_help_mail_dsc}><br /><br />
  <{if $lang_help_mail_perm }>
    <{$lang_help_mail_perm}><br /><br />
  <{/if}>
  <{if $show_help_mail_text }>
    <{$lang_help_mail_text}>
  <{/if}>
<{/if}>

<{if $show_help_file }>
  <h4 style="border: 1px dotted #8b0000; padding: 3px;">
  <{$lang_help_file_title}></h4>
  <{$lang_help_file_dsc}><br /><br />
  <{if $lang_help_file_perm }>
    <{$lang_help_file_perm}><br /><br />
  <{/if}>
  <{if $show_help_file_text }>
    <{$lang_help_file_text_1}><br /><br />
    <{$lang_help_file_text_2}>
  <{/if}>
<{/if}>

<{if $is_module_admin }>
  <hr />
  <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/admin/index.php"><{$lang_goto_admin}></a>
<{/if}>
