<{* $Id: block_rphoto.html,v 1.1 2008/06/21 12:22:18 ohwada Exp $ *}>

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr>
<{foreach item=photo key=count from=$block.photo}>
  <td align="center" style="margin:0px;padding:5px 0px;">
    <{if $photo.title_short_s != '' }>
      <a href="<{$xoops_url}>/modules/<{$block.dirname}>/index.php/photo/<{$photo.photo_id}>/">
      <{$photo.title_short_s}></a> <br />
    <{/if}>

<{* NORMAL IMAGES with popbox  *}>
    <{if $photo.is_normal_image && $block.show_popbox }>
      <{if $photo.thumb_width && $photo.thumb_height }>
        <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" class="PopBoxImageSmall" onclick="Pop(this,100,'PopBoxImageLarge');" pbSrcNL="<{$photo.imgsrc_photo}>" />
      <{else}>
        <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" class="PopBoxImageSmall" onclick="Pop(this,100,'PopBoxImageLarge');" pbSrcNL="<{$photo.imgsrc_photo}>" />
      <{/if}>

<{* NORMAL IMAGES *}>
<{* FILES OTHER THAN IMAGES *}>
    <{else}>
      <a href="<{$xoops_url}>/modules/<{$block.dirname}>/index.php/photo/<{$photo.photo_id}>/">
      <{if $photo.thumb_width && $photo.thumb_height }>
        <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" />
      <{else}>
        <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" />
      <{/if}>
      </a>

    <{/if}>
  </td>

  <{if $count is div by $block.cols }>
    </tr>
    <tr>
  <{/if}>

<{/foreach}>
</tr>
</table>
