<{* $Id: inc_photo_in_list.html,v 1.3 2008/08/08 07:24:45 ohwada Exp $ *}>

<table><tr>

<{* IMAGE PART *}>
<td class="webphoto_list_td_image">
<div class="webphoto_list_image">

<{* NORMAL IMAGES with popbox  *}>
<{if $photo.is_normal_image && $use_popbox_js }>
  <{if $photo.thumb_width && $photo.thumb_height }>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" class="PopBoxImageSmall" onclick="Pop(this,100,'PopBoxImageLarge');" pbSrcNL="<{$photo.imgsrc_photo}>" />
  <{else}>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$cfg_thumb_width}>" class="PopBoxImageSmall" onclick="Pop(this,100,'PopBoxImageLarge');" pbSrcNL="<{$photo.imgsrc_photo}>" />
  <{/if}>

<{* NORMAL IMAGES & FLASH VODEO *}>
<{elseif $photo.is_normal_image || $photo.is_flash_video }>
  <{if $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/photo/<{$photo.photo_id}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=photo&amp;p=<{$photo.photo_id}>">
  <{/if}>
  <{if $photo.thumb_width && $photo.thumb_height }>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" />
  <{else}>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$cfg_thumb_width}>" />
  <{/if}>
  </a>

<{* FILES OTHER THAN IMAGES *}>
<{else}>
  <{if $photo.ahref_file }>
    <a href="<{$photo.ahref_file}>" target="_blank">
  <{elseif $use_pathinfo }>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/photo/<{$photo.photo_id}>/">
  <{else}>
    <a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php?fct=photo&amp;p=<{$photo.photo_id}>">
  <{/if}>

  <{if $photo.thumb_width && $photo.thumb_height }>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" width="<{$photo.thumb_width}>" height="<{$photo.thumb_height}>" />
  <{else}>
    <img src="<{$photo.imgsrc_thumb}>" alt="<{$photo.title_s}>" title="<{$photo.title_s}>" />
  <{/if}>
  </a>
<{/if}>

</div>
</td>

<{* INFORMATION PART *}>
<td class="webphoto_list_td_info">
  <{include file="db:`$mydirname`_inc_photo_info.html"}>
</td>

</tr></table>
