<{* $Id: main_help.html,v 1.1 2008/06/21 12:22:18 ohwada Exp $ *}>

<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php">
<{$xoops_modulename}></a> &gt;&gt; 
<b><{$lang_title_help}></b>
<br /><br />

<h3><{$lang_title_help}></h3>
<{$lang_help_dsc}>
<br />

<h4 style="border: 1px dotted #8b0000; padding: 3px;">
<{$lang_help_piclens_title}></h4>

<{$lang_help_piclens_dsc}>
<br />

<img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/help/piclens_on.png" border="0" /> 
<img src="<{$xoops_url}>/modules/<{$xoops_dirname}>/images/help/piclens_off.png" border="0" />
<br /><br />

<h4 style="border: 1px dotted #8b0000; padding: 3px;">
<{$lang_help_mediarssslideshow_title}></h4>

<{$lang_help_mediarssslideshow_dsc}>
<a href="<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/rss/random/" target="_blank">
<{$xoops_url}>/modules/<{$xoops_dirname}>/index.php/rss/random/
</a><br />

